<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Listado de Grupos</h4>
        <p></p>
        <div class="d-flex justify-content-between">
          <button class="btn btn-info btn-group-lg btn-sm" (click)="toggleCollapse()" [attr.aria-expanded]="isCollapsed"
            aria-controls="collapseExample">Filtros Avanzados </button>
          <button class="btn btn-outline-danger btn-group-lg btn-sm" *ngIf="!isCollapsed"
            aria-controls="collapseExample" (click)="clearFilter()">Limpiar <i class="fas fa-eraser"></i></button>
        </div>
        <p></p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="border-radius: 1px solid;">
          <div class="card">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputNombre">Fecha Inicio</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filtros.fecha_ini"
                      ngbDatepicker #dateIni="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateIni.toggle()"
                      type="button"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputNombre">Fecha Fin</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filtros.fecha_fin"
                      (dateSelect)="onSearchDate()" ngbDatepicker #dateFin="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateFin.toggle()"
                      type="button"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Buscar por Familia</label>
                    <div class="input-group">
                      <ng-select [items]="familia" (change)="onSearchFamily()" [(ngModel)]="filtros.famila"
                        [style.width.px]="300" bindLabel="des_fam" bindValue="id_fam" placeholder="Seleccionar Familia">
                      </ng-select>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-md-3">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Buscar por Linea</label>
                    <div class="input-group">
                      <ng-select [items]="lineaFilters" (change)="onSearchLine()" [(ngModel)]="filtros.linea"
                        [style.width.px]="300" bindLabel="des_line" bindValue="id_line" placeholder="Seleccionar Linea">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="textSearch" id="name" placeholder="Buscar" />
          </div>
          <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn btn-outline-info me-2" id="dropdownManual" ngbDropdownAnchor
              (focus)="myDrop.open()">
              Operaciones
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem (click)="open(content)" *ngIf="isRegistrar"> Nuevo Grupo</button>
              <button (click)="exportarExcel()" ngbDropdownItem>Exportar Excel</button>
              <!-- <button (click)="exportarPdf()" ngbDropdownItem>Exportar Pdf</button> -->
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <div style="margin-top: 20px;">
            <span style="font-weight: 500;">mostrar 
            <select id="pageSize" [(ngModel)]="selectedPageSize" (change)="actualizarPaginacion()">
            <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
            Entradas
            </span>
         </div>
          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">#</th>
                <th class="text-dark font-medium fs-4">Familia</th>
                <th class="text-dark font-medium fs-4">Linea</th>
                <th class="text-dark font-medium fs-4">Grupo</th>
                <th class="text-dark font-medium fs-4">Fecha Registro</th>
                <th class="text-dark font-medium fs-4"
                  *ngIf="isActualizar || isEliminar">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf=" list?.registros | search : textSearch as result">
                <!-- <tr  *ngFor="let items of result | search:textSearch | slice : (currentPage - 1) * totalPages : (currentPage - 1) * totalPages + totalPages; let i = index"> -->

                <tr *ngFor="let item of result | search:textSearch; let i = index">
                  <td>
                    {{i + 1}}
                  </td>
                  <td class="fs-4">{{item.cod_fam}} - {{item.des_fam}}</td>
                  <td class="fs-4">{{item.cod_line}} - {{item.des_line}}</td>
                  <td class="fs-4">{{item.cod_gru}} - {{item.des_gru}} </td>
                  <td class="fs-4">{{item.fec_regis | date:"shortDate"}}</td>
                  <td>
                    <button type="button" ngbTooltip="Actualizar Grupo" *ngIf="isActualizar"
                      (click)="edit(modalActualizar, item.id_grou)" class="btn btn-outline-success w-sm btn-sm"
                      style="margin-left: 5px">
                      <span><i class="fas fa-edit"></i></span>
                    </button>
                    <button type="button" ngbTooltip="Eliminar Grupo" *ngIf="isEliminar"
                      (click)="eliminar(item.id_grou)" class="btn w-sm btn-sm btn-outline-danger"
                      style="margin-left: 5px">
                      <span><i class="fas fa-trash"></i></span>
                    </button>
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>
          <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [totalRegistros]="totalRegistros"
            [totalRegistrosPage]="totalRegistroPage" [limit]="limit" (pageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Grupo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="getDismissReason(0)"></button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="errors.length > 0" role="alert">
      <span *ngFor="let err of errors; let last = last">
        <span [innerHTML]="'*' + err.mensaje + (last ? '' : '<br>')"></span>
      </span>
    </div>
    <form [formGroup]="formForm" (ngSubmit)="guardar()">
      <div formArrayName="grupos">
        <div class="container">
          <div *ngFor="let grupo of grupos.controls; let i = index" [formGroupName]="i">
            <ng-container *ngIf="grupo as grupoFormGroup">
              <div class="row d-flex justify-content-around">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Seleccionar Familia</label>
                    <div class="custom-dropdown-container">
                      <ng-select [ngClass]="{ 'is-invalid': submitted && grupoFormGroup.get('id_familia')?.errors }"
                        [items]="familia" bindLabel="des_fam" formControlName="id_familia" bindValue="id_fam"
                        (change)="getLineaByIdFamiliaCreate($event, i)">
                      </ng-select>
                      <div *ngIf="submitted && grupoFormGroup.get('id_familia')?.errors" class="invalid-feedback">
                        <div *ngIf="grupoFormGroup.get('id_familia')?.errors?.['required']">Familia es requerida</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Seleccionar Linea</label>
                    <div class="custom-dropdown-container">
                      <ng-select [ngClass]="{ 'is-invalid': submitted && grupoFormGroup.get('id_linea')?.errors }"
                        [items]="linea" bindLabel="des_line" (change)="getGrupoLinea($event, i)"
                        formControlName="id_linea" bindValue="id_line">
                      </ng-select>
                      <div *ngIf="submitted && grupoFormGroup.get('id_linea')?.errors" class="invalid-feedback">
                        <div *ngIf="grupoFormGroup.get('id_linea')?.errors?.['required']">Linea es requerida</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" formControlName="des_gru" id="inputNombre"
                      [ngClass]="{ 'is-invalid': submitted && grupoFormGroup.get('des_gru')?.invalid }"
                      (blur)="addCodigo($event, i)" />
                    <div *ngIf="submitted && grupoFormGroup.get('des_gru')?.invalid" class="invalid-feedback">
                      <div *ngIf="grupoFormGroup.get('des_gru')?.hasError('required')">Nombre es requerido</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="inputCodigo">Codigo</label>
                    <input type="text" class="form-control" formControlName="cod_gru" id="inputCodigo"
                      [ngClass]="{ 'is-invalid': submitted && grupoFormGroup.get('cod_gru')?.invalid }" />
                    <div *ngIf="submitted && grupoFormGroup.get('cod_gru')?.invalid" class="invalid-feedback">
                      <div *ngIf="grupoFormGroup.get('cod_gru')?.hasError('required')">Código es requerido</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                    <button type="button" (click)="eliminarGrupo(i)" class="btn w-sm btn-sm btn-outline-danger"
                      style="margin-top: 25px">
                      <span><i class="fas fa-trash"></i></span>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <p></p>
          <button type="button" class="btn btn-outline-success" (click)="agregarGrupo()">Agregar Grupo</button>
          <p></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" [disabled]="isLoading" class="btn btn-outline-info">
          <span *ngIf="!isLoading"> Guardar</span>
          <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-1x"></i>
        </button>
      </div>
    </form>
  </div>

</ng-template>
<ng-template #modalActualizar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Grupo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formFormUpdate" (ngSubmit)="update()">
      <div class="row d-flex justify-content-around">
        <div class="col-md-3">
          <div class="form-group">
            <label for="exampleInputPassword1">Seleccionar Familia</label>
            <div class="custom-dropdown-container">
              <ng-select [ngClass]="{ 'is-invalid': submitted && f.get('id_familia')?.errors }" [items]="familia"
                bindLabel="des_fam" formControlName="id_familia" bindValue="id_fam"
                (change)="getLineaByIdFamiliaUpdate($event)">
              </ng-select>
              <div *ngIf="submitted && f.get('id_familia')?.errors" class="invalid-feedback">
                <div *ngIf="f.get('id_familia')?.errors?.['required']">Familia es requerida</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="exampleInputPassword1">Seleccionar Linea</label>
            <div class="custom-dropdown-container">
              <ng-select [ngClass]="{ 'is-invalid': submitted && f.get('id_linea')?.errors }" formControlName="id_linea"
                [items]="linea" bindLabel="des_line" f="id_linea" bindValue="id_line">
              </ng-select>
              <div *ngIf="submitted && f.get('id_linea')?.errors" class="invalid-feedback">
                <div *ngIf="f.get('id_linea')?.errors?.['required']">Linea es requerida</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" formControlName="des_gru" id="inputNombre"
              (blur)="addCodigoUpdate($event)" [ngClass]="{ 'is-invalid': submitted && f.get('des_gru')?.invalid }" />
            <div *ngIf="submitted && f.get('des_gru')?.invalid" class="invalid-feedback">
              <div *ngIf="f.get('des_gru')?.hasError('required')">Nombre es requerido</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="inputCodigo">Codigo</label>
            <input type="text" class="form-control" formControlName="cod_gru" id="inputCodigo"
              [ngClass]="{ 'is-invalid': submitted && f.get('cod_gru')?.invalid }" />
            <div *ngIf="submitted && f.get('cod_gru')?.invalid" class="invalid-feedback">
              <div *ngIf="f.get('cod_gru')?.hasError('required')">Código es requerido</div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="modal-footer">
        <button type="submit" [disabled]="isLoading" class="btn btn-outline-info">
          <span *ngIf="!isLoading"> Guardar</span>
          <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-1x"></i>
        </button>
      </div>
    </form>
  </div>

</ng-template>