<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Listado de Productos</h4>
        <p></p>
        <div class="d-flex justify-content-between">
          <button class="btn btn-info btn-group-lg btn-sm" (click)="toggleCollapse()" [attr.aria-expanded]="isCollapsed"
            aria-controls="collapseExample">Filtros Avanzados </button>
          <button class="btn btn-outline-danger btn-group-lg btn-sm" aria-controls="collapseExample"
            *ngIf="!isCollapsed" (click)="clearFilter()">Limpiar Filtros<i class="fas fa-eraser"></i></button>
        </div>
        <p></p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" style="border-radius: 1px solid;">
          <div class="card">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputNombre">Fecha Inicio</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filtros.fecha_ini"
                      ngbDatepicker #dateIni="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateIni.toggle()"
                      type="button"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="inputNombre">Fecha Fin</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="filtros.fecha_fin"
                      (dateSelect)="onSearchDate()" ngbDatepicker #dateFin="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dateFin.toggle()"
                      type="button"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Familia</label>
                    <div class="input-group">
                      <ng-select [items]="familia" (change)="onSearchFamily()" [(ngModel)]="filtros.famila"
                        [style.width.px]="300" bindLabel="des_fam" bindValue="id_fam">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Linea</label>
                    <div class="input-group">
                      <ng-select [items]="linea" (change)="onSearchLine()" [(ngModel)]="filtros.linea"
                        [style.width.px]="200" bindLabel="des_line" bindValue="id_line">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Grupo</label>
                    <div class="input-group">
                      <ng-select [items]="grupo" (change)="onSearchGrupo()" [(ngModel)]="filtros.grupo"
                        [style.width.px]="200" bindLabel="des_gru" bindValue="id_grou">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="custom-dropdown-container">
                  <div class="form-group">
                    <label for="inputNombre">Responsables</label>
                    <div class="input-group">
                      <ng-select [items]="responsables" (change)="onSearchResponsable()" [(ngModel)]="filtros.user"
                        [style.width.px]="300" bindLabel="us_full_name" bindValue="id_user">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between" style="margin-top: 50px;">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="textSearch" id="name" placeholder="Buscar" />
          </div>
          <button class="btn btn-outline-success btn-group-lg btn-sm" (click)="exportarExcel()" >Exportal Excel <i class="fas fa-file-excel"></i>
          </button>
              <!-- <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button
                  type="button"
                  class="btn btn-outline-info me-2"
                  id="dropdownManual"
                  ngbDropdownAnchor
                  (focus)="myDrop.open()"
                >
                  Operaciones 
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button ngbDropdownItem (click)="open(modalAgregarProducto)" *ngIf="isRegistrar"> Nuevo Producto</button>
                  <button  (click)="exportarExcel()" ngbDropdownItem>Exportar Excel</button>
                  <button (click)="exportarPdf()" ngbDropdownItem>Exportar Pdf</button>
                </div>
              </div> -->
        </div>
        <div class="table-responsive">
          <div style="margin-top: 20px;">
            <span style="font-weight: 500;">mostrar 
            <select id="pageSize" [(ngModel)]="selectedPageSize" (change)="actualizarPaginacion()">
            <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
            </select>
            Entradas
            </span>
         </div>
          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Familia</th>
                <th class="text-dark font-medium fs-4">Linea</th>
                <th class="text-dark font-medium fs-4">Grupo</th>
                <th class="text-dark font-medium fs-4">Codigo Producto</th>
                <th class="text-dark font-medium fs-4">Nombre Producto</th>
                <th class="text-dark font-medium fs-4">Detalle Producto</th>
                <th class="text-dark font-medium fs-4">Responsable</th>
                <th class="text-dark font-medium fs-4">Fecha Registro</th>
                <th class="text-dark font-medium fs-4"  *ngIf="isActualizar">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf=" list?.registros | search : textSearch as result">
                <!-- <tr  *ngFor="let items of result | search:textSearch | slice : (currentPage - 1) * totalPages : (currentPage - 1) * totalPages + totalPages; let i = index"> -->

                <tr *ngFor="let item of result | search:textSearch; let i = index">
                  <!-- <td>
                      {{i + 1}}
                    </td> -->
                  <td class="fs-4">{{item.cod_fam}} - {{item.des_fam}}</td>
                  <td class="fs-4">{{item.cod_line}} - {{item.des_line}}</td>
                  <td class="fs-4">{{item.cod_gru}} - {{item.des_gru}}</td>
                  <td class="fs-4">{{item.cod_product}}</td>
                  <td class="fs-4">{{item.name_product}}</td>
                  <td class="fs-4">{{item.des_product}}</td>
                  <td class="fs-4">{{item.us_full_name}} </td>
                  <td class="fs-4">{{item.fech_regis | date:"shortDate"}}</td>
                  <td>
                    <button type="button" ngbTooltip="Actualizar Producto"  *ngIf="isActualizar" (click)="edit(modalActualizar, item.id_prod)"
                      class="btn btn-outline-success w-sm btn-sm" style="margin-left: 5px">
                      <span><i class="fas fa-edit"></i></span>
                    </button>
                    <!-- <button type="button" ngbTooltip="Eliminar Producto" (click)="eliminar(item.id_prod)" class="btn w-sm btn-sm btn-outline-danger"
                        style="margin-left: 5px">
                        <span><i class="fas fa-trash"></i></span>
                      </button> -->
                  </td>
                </tr>

              </ng-container>
            </tbody>
          </table>
          <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [totalRegistros]="totalRegistros"
            [totalRegistrosPage]="totalRegistroPage" [limit]="limit" (pageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalActualizar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Producto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formUpdateForm" (ngSubmit)="update()">
      <div class="row d-flex justify-content-around">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputNombre">Nombre Producto</label>
            <input type="text" class="form-control text-uppercase" formControlName="name_product" id="inputNombre"
              [ngClass]="{ 'is-invalid': submitted && f.get('name_product')?.invalid }" />
            <div *ngIf="submitted && f.get('name_product')?.invalid" class="invalid-feedback">
              <div *ngIf="f.get('name_product')?.hasError('required')">Nombre es requerido</div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputCodigo">Detalle Producto</label>
            <input type="text" class="form-control text-uppercase" formControlName="des_product" id="inputCodigo"
              [ngClass]="{ 'is-invalid': submitted && f.get('des_product')?.invalid }" />
            <div *ngIf="submitted && f.get('des_product')?.invalid" class="invalid-feedback">
              <div *ngIf="f.get('des_product')?.hasError('required')">Detalle es requerido</div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="modal-footer">
        <button type="submit" [disabled]="isLoading" class="btn btn-outline-info">
          <span *ngIf="!isLoading"> Guardar</span>
          <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-1x"></i>
        </button>
      </div>
    </form>
  </div>
</ng-template>